.color__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @extend %block-style;

    .color__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .color__display {
            height: 26px;
            width: 200px;
            background-color: $white-color;
            border-radius: 3px;
            margin-right: 5px;
            font-size: 2rem;
            box-sizing: border-box;
        }

        .color__input {
            width: 50px;
            height: 26px;
            border-radius: 3px;
            border: none;
        }

        .color__button {
            height: 26px;
            width: 65px;
            padding-top: 4px;
            margin-left: 15px;
            font-size: 1.3rem;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        width: 100%;
        margin-top: 10px;
        @extend %block-border;

        .button_control {
            height: 26px;
            padding-top: 6px;
            width: 80px;
        }

        .button_race {
            padding-bottom: 30px;
            padding-top: 0;

            .button_race-icon {
                background-image: url(../assets/icon.ico);
                background-repeat: no-repeat;
                height: 20px;
                width: 20px;
                margin-left: 5px;
                background-position: center;
                background-size: contain;
                display: inline-block;
            }
        }

        .button_race {}

        .button_reset {}

        .button_generate {}
    }
}